<h1>Editar perfil</h1>

<% if @profile.errors.any? %>
<p>Você deve corrigir os seguintes erros:</p>
  <ul>
  <% @profile.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
  <% end %>
  </ul>
<% end %>

<%= render partial: "profile", locals: {profile: @profile} %>
