<h3>Rejeitar participação do candidato para esta vaga</h3>
<%= form_with model: @feedback, url: decline_feedback_path(@entry), method: :post do |f| %>
  <%= f.label :body, 'Feedback ao candidato' %>
  <%= f.text_field :body %>
  <%= f.submit 'Enviar feedback' %>
<% end %>
